<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input [(ngModel)]="newTaskTitle" class="new-todo" placeholder="What needs to be done?" autoFocus
      (blur)="createNewTask()" (keydown)="keyDown($event)" />
  </header>

  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" [checked]="setAllChecked()"
       />
    <label htmlFor="toggle-all" (click)="setAll(!setAllChecked())">Mark all as complete</label>
    <ul class="todo-list">
      <ng-container *ngFor="let task of tasks">
        <ng-container *ngIf="!hideCompleted||!task.completed">

          <li [class.completed]="task.completed" *ngIf="!editingTask||task.id!==editingTask.id; else editing">
            <div class="view">
              <input type="checkbox" [(ngModel)]="task.completed" class="toggle" />

              <label (dblclick)="editingTask=task">{{task.title}}</label>
              <button class="destroy" (click)="deleteTask(task)"></button>
            </div>
          </li>

          <ng-template #editing>
            <li class="editing">
              <input class="edit" [(ngModel)]="editingTask!.title" (blur)="editingTask=undefined" />
            </li>
          </ng-template>
        </ng-container>

      </ng-container>
    </ul>
  </section>
  <footer class="footer">
    <button (click)="setHideCompleted(false)">All </button>
    <button (click)="setHideCompleted(true)">Active</button>
  </footer>
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Based on <a href="http://todomvc.com">TodoMVC</a></p>
  <p>
    <a href="https://www.github.com/remult/remult" target="_blank">
      Give remult a ⭐ on github</a>
  </p>
</footer>